.buildControl
{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    text-align: center;
}

.button{

    background-color:lightgreen;
    border: 1px solid white;
     padding: 8px; 
    outline: none;
    margin: 5px;
    cursor: pointer;
}

.label
{
    font-weight: bold;
    /* width: 80px; */
    font-size: 22px;
}